.scoreTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.scoreTable th,
.scoreTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--color-purple);
}
