.star {
  animation: wiggle infinite 3s ease-out;
  position: absolute;
  top: 5vh;
  right: 5vw;
  height: 12rem;
  width: 12rem;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

@media only screen and (max-width: 50rem) {
  .star {
    display: none;
  }
}
