.flashlight {
  position: absolute;

  background-image: url("./texture_flashlight.png");
  background-size: contain;

  filter: brightness(0.85) sepia(1) contrast(1.5);
  animation: flicker 0.8s linear infinite alternate;
  transform: translate(-50%, -50%);
}

@keyframes flicker {
  80% {
    filter: brightness(0.75) sepia(1) contrast(1.2);
    transform: translate(-50%, -50%) scale(0.95);
  }
}
