:root {
  --color-purple-dark: #61266a;
  --color-purple: #90409d;
  --color-green-dark: #165b33;
  --color-green: #146b3a;
  --color-yellow-dark: #c89127;
  --color-yellow: #f8b229;
  --color-red-dark: #bb2528;
  --color-red: #ea4630;
  --color-x-mas-blue-sky: #141a56;
  --color-dark: #222222;
  --color-semi-dark-dark: #313131;
  --color-dnb-green: #14555a;
  --color-dark-not-really: #999999;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  background-color: var(--color-x-mas-blue-sky);
  background-image: url("/src/assets/landscapeWithScoreTree.svg");
  background-position: left -24rem bottom -10rem;
  background-repeat: no-repeat;
  background-size: 200rem;
}

.simple-keyboard {
  display: flex;
  justify-content: center;
}

.hg-rows {
  width: 100%;
}

.simple-keyboard.dark {
  background: var(--color-x-mas-blue-sky);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.dark .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.dark .hg-button:active {
  background: black;
  color: white;
}

@media screen and (min-width: 40rem) {
  .simple-keyboard {
    display: none;
  }
}

button:hover {
  box-shadow: 0px 0px 0px 0.125rem var(--color-green)
}

header {
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}