.cog {
  position: absolute;
  padding: 0.5rem;
  top: 1rem;
  right: 1rem;
  .cogIcon {
    font-size: 2rem;
  }
  & > button {
    background-color: transparent;
    margin-bottom: 0.5rem;
  }
  .children {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }
}
