.cog {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  & > button {
    background-color: transparent;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  .children {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }
}
